trydjango19/settings/local.py

db.sqlite3
.py[cod]

.DS_Store
bin/
include/
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
