/*html,body{
    height: 100%;
}*/
.cate {
	height: 100%;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
#heading {
	font-family: 'Maven Pro:900',sans-serif;
	letter-spacing: 0.25em;
	font-size: 3em;
}
#headinglink {
	color: inherit;
	text-decoration: inherit;
}
footer {
  bottom: -50px;
  height: 50px;
  left: 0;
  position: relative;
  right: 0;
}
