<h1>Welcome to Code Beautiful</h1>
<h2>Your email is {{ object.user_email }}</h2>
{% if local %}
<p><a href="http://127.0.0.1:8000/email/confirm/{{ object.confirmKey }}">Please click on this link in order to verify your account</a></p>
<p>You can unsubscribe anytime by clicking on this <a href="http://127.0.0.1:8000/email/unsubscribe/{{ object.confirmKey }}">link</a>.</p>
{% else %} 
<p><a href="https://code-beautiful.herokuapp.com/email/confirm/{{ object.confirmKey }}">Please click on this link in order to verify your account</a></p>
<p>You can unsubscribe anytime by clicking on this <a href="https://code-beautiful.herokuapp.com/email/unsubscribe/{{ object.confirmKey }}">link</a>.</p>
{% endif %}