{% extends "base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
<div class="page-header text-center">
<h1 style="font-family: 'Maven Pro:900', sans-serif;letter-spacing: 0.25em;font-size: 3em">Code Beautiful</h1>
</div>
<p><h4 style="font-family: Maven Pro;text-align: center;">If you can multiply numbers, add numbers, type using a keyboard then you can code!</h4></p><hr>


<form class="form-inline text-right" method="GET" action="">
  <div class="form-group">
    <input class="form-control" type="text" name='q' align="right" placeholder="Search Posts" value="{{ request.GET.q }}" />
    <button class="btn btn-primary" type="Submit">Search</button>  
  </div>
</form>

</div>
<div class="row">
<div class='col-md-8'>
{% for obj in obj_list %}
<div class="row">	
  <div class="col-sm-12">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <div class="caption">
        {% if obj.draft %}<h3>Staff only : Draft </h3> {% endif %} {% if obj.publish > today %} <h3> Staff only :Future Post </h3> {% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{obj.title}}</a><small style="float: right;"> {{ obj.publish }}</small></h3>
        {% if obj.user.get_full_name %}
          <p > Author : {{ obj.user.get_full_name }} </p>
        {% endif %}
        {% if obj.category %}
          <p > Tags : {{ obj.category }} </p>
        {% endif %}
        <p>{{obj.content | safe | linebreaks | truncatechars:200 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Read more</a></p>
      </div>
    </div>
  </div>
 </div>
 <br/>
{% endfor %}
   
</div>
<div class="col-md-4" style="border-left: thin solid #bbb6b6">
  <h4 style="font-family: Maven Pro;"> Categories</h4>
  <ul>
    {% for category,numbers in categories.items %}
      <li>{{ category }}({{ numbers }})</li>
    {% endfor %}
  </ul>
</div>
</div>
<div class="col-sm-10 col-sm-offset-1">
   <nav aria-label="...">
      <ul class="pager">
        {% if obj_list.has_previous %}
          <li class="previous"><a href="?{{ page_request_var }}={{ obj_list.previous_page_number }}{% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">Newer</a></li>
        {% endif %}
        <span>Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}</span>
        {% if obj_list.has_next %}
          <li class="next"><a href="?{{ page_request_var }}={{ obj_list.next_page_number }}{% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">Older</a></li>
        {% endif %}
      </ul>
    </nav>
    <hr>
    <div class="text-center">
       <a href="http://facebook.com/hrsvrdhn" target="_blank"><img src="https://image.flaticon.com/icons/png/128/69/69407.png" class="img-rounded" width="32px" height="32px"></a>
       <a href="http://github.com/hrsvrdhn" target="_blank"><img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png" class="img-rounded" width="32px" height="32px"></a>
    </div>
    <hr>
</div>
{% endblock content %}